.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Allow child elements to stretch to full width */
    height: 100vh;
    /* Full viewport height */
    text-align: center;

}

 body {
     background-color: #2c1c14;
     font-family: Georgia, 'Times New Roman', Times, serif;
     max-width: 800px;
     margin: auto;
     padding-top: 50px;
 }

 p {
     color: #dbc4b4;
     font-size: 17px;
 }

 h1 {
     text-align: left;
     color: #dbc4b4;
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     position: relative;
 }

 h1::before {
     /* Use ::before instead of ::after */
     content: "";
     position: absolute;
     top: 50%;
     right: 110%;
     /* Adjust the position to move the line to the left of the h1 */
     width: 100px;
     height: 2px;
     background-color: #ffffff;
     transform: translateY(-50%);
 }