.topnav {
    display: flex;
    justify-content: space-between; /* Spreads the navigation and contacts items */
    align-items: center;
    padding: 10px;
   
  

}

.nav-links {
    display: flex;
}

/* this for for the text apsect of the top nav  */
.nav-links a {
    margin-right: 20px;
    color: rgb(255, 253, 253); /* Make text white */
    text-decoration: none;
}

 /* text bacground  */
.nav-links a:hover {
    background-color: rgb(98, 93, 94);
    padding: 10px;
    border-radius: 50px;
    color: #64ffda
    

}

/*  contact me starts here   */
/*  ////////////  */
.contact-links {
    display: flex;
    align-items: center;
}

/*  this is for the contactsme  */
#social {
    display: flex;
    list-style: none;
    padding: 0;
}

#social li {
    margin-left: 10px;
}